@using DesignPattern.Facade.DAL
@model Product
@{
    ViewData["Title"] = "AddNewProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni Ürün Girişi</h1>

<form method="post">
    <label>Ürün Adı</label>
    <input type="text" asp-for="ProductName" class="form-control" />
    <br />
    <label>Müşteri Stoğu</label>
    <input type="text" asp-for="ProductStock" class="form-control" />
    <br />
    <label>Müşteri Fiyatı</label>
    <input type="text" asp-for="ProductPrice" class="form-control" />
    <br />
    <label>Müşteri Kategorisi</label>
    <input type="text" asp-for="ProductCategory" class="form-control" />
    <br />

    <button class="btn btn-success">Kaydet</button>
</form>