@using DesignPattern.CQRS.CQRSPattern.Commands
@model CreateProductCommand
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<form method="post" class="form-group" style="margin-left:25px;">
    <br />
    <label>Ürün Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Ürün Stoğu</label>
    <input type="text" class="form-control" asp-for="Stock" />
    <br />
    <label>Ürün Fiyatı</label>
    <input type="text" class="form-control" asp-for="Price" />
    <br />
    <label>Ürün Açıklaması</label>
    <textarea  class="form-control" asp-for="Description" ></textarea>

    <br />
    <label>Ürün Durumu</label>
    <input type="text" class="form-control" asp-for="Status" />
    <br />

    <button type="submit" class="btn btn-dark">Kaydet</button>
</form>